<%- include('./partials/header') %>

<div class="polaroid center">
<img class="responsive-img" src="https://st2.depositphotos.com/1174292/9824/v/600/depositphotos_98245034-stock-illustration-dance-couple-african-dance-set.jpg" alt="Kizomba">

</div>
<%- include('./partials/footer') %>
