<%- include('./partials/header') %>
  <div class="main">
    <div class="container" id="name">
      <h2>Dance parties for friends</h2>
    </div>
  </div>

  <div class="valign-wrapper center">

    <img class="responsive-img z-depth-5"
      src="https://st2.depositphotos.com/1174292/9824/v/600/depositphotos_98245034-stock-illustration-dance-couple-african-dance-set.jpg"
      alt="Kizomba">

  </div>
  </div>

  <%- include('./partials/footer') %>