body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  margin: 50px;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}
  
img{
  max-width: 100%;
  height: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}

.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: #ee6e73;
}

#name{
  font-family: 'Pattaya', sans-serif;
  color: #b71c1c;
  text-align: center;
  margin: 0px;
  width: 100%;
}
